body {
  margin: 0;
  padding: 0;
  background: #3498db;
  color: #ecf0f1;
}

#main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  background: #2c3e50;
  height: 3.3em;
  position: relative;

  .nav-menu {
    margin: 0;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    li {
      flex-grow: 0;
      // width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0 12px;
      height: 100%;
      border-bottom: 1px solid #bdc3c7;

      & a {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: #ecf0f1;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
  .notifications {
    margin-left: auto;
    position: absolute;
    right: 0;
    //overflow: hidden;

    .notifications-head {
      width: 200px;
      .notifications-counter {
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        text-align: center;
        background-color: red;
        border-radius: 50%;
      }
    }

    .notifications-main {
      position: relative;
      bottom: 0;
      left: 0;
      top: 100%;
      display: none;
      background-color: #999999;
    }

    &:hover {
      .notifications-main {
        display: block;

        li {
          list-style: none;

          a {
            text-shadow: 1px 1px 1px #000;
          }
          .greenlink {
            color: greenyellow;
          }
          .redlink {
            color: red
          }
        }
      }
    }
  }
}