// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
    padding: 0;
}

#welcome-page {
    height: 100vh;
    max-width: 1200px;
    background: #2c3e50;
    margin: 0 auto;
    position: relative;

    h1 {
        position: absolute;
        margin: 0;
        padding-top: 200px;
        text-align: center;
        width: 100%;
        letter-spacing: 4.5px;
        word-spacing: 10px;
    }
}

.signup-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.facebook-signup, .usuall-signup{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        color: #ecf0f1;
        text-decoration: none;
        font-size: 30px;
        text-align: center;
        line-height: 1.2em;

        &:hover {
            background: transparent;
            text-decoration: underline;
        }
    }
}

