// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
    padding: 0;
}

.signup-links {
    height: 100vh;
    width: 100%;
    display: flex;
    background: #3498db;
    flex-wrap: wrap;
}

.facebook-signup, .usuall-signup{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        color: #ecf0f1;
        text-decoration: none;
        font-size: 30px;
        text-align: center;
        line-height: 1.2em;

        &:hover {
            background: transparent;
            text-decoration: underline;
        }
    }
}

